<a href="/">INICIO</a> |
<a href="/login">Iniciar Sesion</a> |
<a href="/protegido">PROTEGIDO</a> |
<a href="/bienvenido">BIENVENIDO</a> |
<a href="/logout">Cerrar sesion</a> |
<a href="/usuario"> <%= usuarioS%> </a>